
<ion-content>

 <ion-content fullscreen class="ion-padding" scroll-y="false">
        <ion-slides>
          <ion-slide>
            <div class="slide">
              <img src="https://img.icons8.com/bubbles/512/note.png" />
              <h1><b>Welcome</b></h1>
              <p>
                The <b>Notable app</b> is a Perfect for traking and setting tasks. <br>(Naaaaah, It's just a Task List).
              </p>
            </div>
          </ion-slide>

          <ion-slide>
            <img src="https://img.icons8.com/external-flaticons-flat-flat-icons/512/external-progress-achievements-flaticons-flat-flat-icons.png" />
            <h2>Ready to be Productive?</h2>
            <ion-button (click)="home()" fill="clear">Get Started <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-slide>
        </ion-slides>
      </ion-content>
</ion-content>