
<ion-content >

      <ion-toolbar color="medium">
      
          <ion-title class="time"slot="start">{{ time | date: ' h:mm a  | dd/mm/yy ' }} </ion-title>
        
        </ion-toolbar>

       <ion-card>
        <ion-card-content>
          <ion-textarea  type="text" [(ngModel)]="taskName"  [autoGrow]="true" placeholder="New Task"></ion-textarea>  
        </ion-card-content>
       </ion-card>
             
             
        
              <ion-fab  class="fab" horizontal="end" >
                <ion-fab-button color="medium" size="small" (click)="addTask()">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
              </ion-fab>
     <!-- Displays entered lst -->

     <!-- experimental -->
     <!-- <ion-card class="task-card">
      <ion-card-header>
        <ion-card-subtitle> Tasks</ion-card-subtitle>
      </ion-card-header> -->
     
        <ion-card color="medium" class="todo" *ngFor="let todo of taskList; let i = index">
         
            <ion-grid>
              <ion-row>
                <ion-fab  class="fab1" horizontal="end"  >
                  <ion-fab-button color="light" size="small" (click)="deleteTask(i)">
                    <ion-icon name="checkmark-outline"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
                <!-- <ion-chip slot=""  class="check" color="dark" fill='clear' (click)="deleteTask(i)">✔</ion-chip> -->
    
                
                <ion-col>
                     <p class="text"> {{todo}}</p> 
                    </ion-col>
               
              </ion-row>
            </ion-grid>      
             
         
        </ion-card>
       
        
   
  
</ion-content>
