.time{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
}
.todo{
  white-space: normal;

}
.text {
  font-size:20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fab{
  margin-top: -85px;
}
.fab1{
  margin-top: 10px;
}
ion-textarea{
  font-size: large;
}