
<ion-content>

  <ion-slides>
    <ion-slide>

      <div class="slide">
        <ion-datetime presentation="date"></ion-datetime>
      </div>



      <ion-card color="secondary">
          
            <ion-card-header>
              <ion-card-title>Platform Techology</ion-card-title>
              <ion-card-subtitle><b>Due Date:</b> Dec. 25 2022</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Module 3 Lesson 5 Activity
            </ion-card-content>
            <ion-button size="small" color="warning">Remove</ion-button>
        </ion-card>
      
    </ion-slide>



    <ion-slide>
      <img src="https://img.icons8.com/clouds/512/calendar-document---v2.png" />
     
    </ion-slide>
  </ion-slides>
</ion-content>
